<?php
/**
 * AppsOpenshiftIo_v1Api
 * PHP version 5
 *
 * @category Class
 * @package  UniversityOfAdelaide\OpenShift
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * OpenShift API (with Kubernetes)
 *
 * OpenShift provides builds, application lifecycle, image content management, and administrative policy on top of Kubernetes. The API allows consistent management of those objects.  All API operations are authenticated via an Authorization bearer token that is provided for service accounts as a generated secret (in JWT form) or via the native OAuth endpoint located at /oauth/authorize. Core infrastructure components may use client certificates that require no authentication.  All API operations return a 'resourceVersion' string that represents the version of the object in the underlying storage. The standard LIST operation performs a snapshot read of the underlying objects, returning a resourceVersion representing a consistent version of the listed objects. The WATCH operation allows all updates to a set of objects after the provided resourceVersion to be observed by a client. By listing and beginning a watch from the returned resourceVersion, clients may observe a consistent view of the state of one or more objects. Note that WATCH always returns the update after the provided resourceVersion. Watch may be extended a limited time in the past - using etcd 2 the watch window is 1000 events (which on a large cluster may only be a few tens of seconds) so clients must explicitly handle the \"watch to old error\" by re-listing.  Objects are divided into two rough categories - those that have a lifecycle and must reflect the state of the cluster, and those that have no state. Objects with lifecycle typically have three main sections:  * 'metadata' common to all objects * a 'spec' that represents the desired state * a 'status' that represents how much of the desired state is reflected on   the cluster at the current time  Objects that have no state have 'metadata' but may lack a 'spec' or 'status' section.  Objects are divided into those that are namespace scoped (only exist inside of a namespace) and those that are cluster scoped (exist outside of a namespace). A namespace scoped resource will be deleted when the namespace is deleted and cannot be created if the namespace has not yet been created or is in the process of deletion. Cluster scoped resources are typically only accessible to admins - resources like nodes, persistent volumes, and cluster policy.  All objects have a schema that is a combination of the 'kind' and 'apiVersion' fields. This schema is additive only for any given version - no backwards incompatible changes are allowed without incrementing the apiVersion. The server will return and accept a number of standard responses that share a common schema - for instance, the common error type is 'metav1.Status' (described below) and will be returned on any error from the API server.  The API is available in multiple serialization formats - the default is JSON (Accept: application/json and Content-Type: application/json) but clients may also use YAML (application/yaml) or the native Protobuf schema (application/vnd.kubernetes.protobuf). Note that the format of the WATCH API call is slightly different - for JSON it returns newline delimited objects while for Protobuf it returns length-delimited frames (4 bytes in network-order) that contain a 'versioned.Watch' Protobuf object.  See the OpenShift documentation at https://docs.openshift.org for more information.
 *
 * OpenAPI spec version: latest
 * 
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace UniversityOfAdelaide\OpenShift\Api;

use \UniversityOfAdelaide\OpenShift\ApiClient;
use \UniversityOfAdelaide\OpenShift\ApiException;
use \UniversityOfAdelaide\OpenShift\Configuration;
use \UniversityOfAdelaide\OpenShift\ObjectSerializer;

/**
 * AppsOpenshiftIo_v1Api Class Doc Comment
 *
 * @category Class
 * @package  UniversityOfAdelaide\OpenShift
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class AppsOpenshiftIo_v1Api
{
    /**
     * API Client
     *
     * @var \UniversityOfAdelaide\OpenShift\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \UniversityOfAdelaide\OpenShift\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\UniversityOfAdelaide\OpenShift\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \UniversityOfAdelaide\OpenShift\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \UniversityOfAdelaide\OpenShift\ApiClient $apiClient set the API client
     *
     * @return AppsOpenshiftIo_v1Api
     */
    public function setApiClient(\UniversityOfAdelaide\OpenShift\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation createAppsOpenshiftIoV1DeploymentConfigForAllNamespaces
     *
     * 
     *
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function createAppsOpenshiftIoV1DeploymentConfigForAllNamespaces($body, $pretty = null)
    {
        list($response) = $this->createAppsOpenshiftIoV1DeploymentConfigForAllNamespacesWithHttpInfo($body, $pretty);
        return $response;
    }

    /**
     * Operation createAppsOpenshiftIoV1DeploymentConfigForAllNamespacesWithHttpInfo
     *
     * 
     *
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function createAppsOpenshiftIoV1DeploymentConfigForAllNamespacesWithHttpInfo($body, $pretty = null)
    {
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createAppsOpenshiftIoV1DeploymentConfigForAllNamespaces');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/deploymentconfigs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig',
                '/apis/apps.openshift.io/v1/deploymentconfigs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createAppsOpenshiftIoV1NamespacedDeploymentConfig
     *
     * 
     *
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function createAppsOpenshiftIoV1NamespacedDeploymentConfig($namespace, $body, $pretty = null)
    {
        list($response) = $this->createAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation createAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function createAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($namespace, $body, $pretty = null)
    {
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling createAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollback
     *
     * 
     *
     * @param string $name name of the DeploymentConfigRollback (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback
     */
    public function createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollback($name, $namespace, $body, $pretty = null)
    {
        list($response) = $this->createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollbackWithHttpInfo($name, $namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollbackWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfigRollback (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback, HTTP status code, HTTP response headers (array of strings)
     */
    public function createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollbackWithHttpInfo($name, $namespace, $body, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollback');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollback');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createAppsOpenshiftIoV1NamespacedDeploymentConfigRollbackRollback');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/rollback";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/rollback'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigRollback', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiate
     *
     * 
     *
     * @param string $name name of the DeploymentRequest (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest
     */
    public function createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiate($name, $namespace, $body, $pretty = null)
    {
        list($response) = $this->createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiateWithHttpInfo($name, $namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiateWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentRequest (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest, HTTP status code, HTTP response headers (array of strings)
     */
    public function createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiateWithHttpInfo($name, $namespace, $body, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiate');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiate');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling createAppsOpenshiftIoV1NamespacedDeploymentRequestInstantiate');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/instantiate";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/instantiate'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentRequest', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteAppsOpenshiftIoV1CollectionNamespacedDeploymentConfig
     *
     * 
     *
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param string $field_selector A selector to restrict the list of returned objects by their fields. Defaults to everything. (optional)
     * @param string $label_selector A selector to restrict the list of returned objects by their labels. Defaults to everything. (optional)
     * @param string $resource_version When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv. (optional)
     * @param int $timeout_seconds Timeout for the list/watch call. (optional)
     * @param bool $watch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1Status
     */
    public function deleteAppsOpenshiftIoV1CollectionNamespacedDeploymentConfig($namespace, $pretty = null, $field_selector = null, $label_selector = null, $resource_version = null, $timeout_seconds = null, $watch = null)
    {
        list($response) = $this->deleteAppsOpenshiftIoV1CollectionNamespacedDeploymentConfigWithHttpInfo($namespace, $pretty, $field_selector, $label_selector, $resource_version, $timeout_seconds, $watch);
        return $response;
    }

    /**
     * Operation deleteAppsOpenshiftIoV1CollectionNamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param string $field_selector A selector to restrict the list of returned objects by their fields. Defaults to everything. (optional)
     * @param string $label_selector A selector to restrict the list of returned objects by their labels. Defaults to everything. (optional)
     * @param string $resource_version When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv. (optional)
     * @param int $timeout_seconds Timeout for the list/watch call. (optional)
     * @param bool $watch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1Status, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteAppsOpenshiftIoV1CollectionNamespacedDeploymentConfigWithHttpInfo($namespace, $pretty = null, $field_selector = null, $label_selector = null, $resource_version = null, $timeout_seconds = null, $watch = null)
    {
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling deleteAppsOpenshiftIoV1CollectionNamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // query params
        if ($field_selector !== null) {
            $queryParams['fieldSelector'] = $this->apiClient->getSerializer()->toQueryValue($field_selector);
        }
        // query params
        if ($label_selector !== null) {
            $queryParams['labelSelector'] = $this->apiClient->getSerializer()->toQueryValue($label_selector);
        }
        // query params
        if ($resource_version !== null) {
            $queryParams['resourceVersion'] = $this->apiClient->getSerializer()->toQueryValue($resource_version);
        }
        // query params
        if ($timeout_seconds !== null) {
            $queryParams['timeoutSeconds'] = $this->apiClient->getSerializer()->toQueryValue($timeout_seconds);
        }
        // query params
        if ($watch !== null) {
            $queryParams['watch'] = $this->apiClient->getSerializer()->toQueryValue($watch);
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1Status',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1Status', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1Status', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation deleteAppsOpenshiftIoV1NamespacedDeploymentConfig
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeleteOptions $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param int $grace_period_seconds The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately. (optional)
     * @param bool $orphan_dependents Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both. (optional)
     * @param string $propagation_policy Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1Status
     */
    public function deleteAppsOpenshiftIoV1NamespacedDeploymentConfig($name, $namespace, $body, $pretty = null, $grace_period_seconds = null, $orphan_dependents = null, $propagation_policy = null)
    {
        list($response) = $this->deleteAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $body, $pretty, $grace_period_seconds, $orphan_dependents, $propagation_policy);
        return $response;
    }

    /**
     * Operation deleteAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeleteOptions $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param int $grace_period_seconds The duration in seconds before the object should be deleted. Value must be non-negative integer. The value zero indicates delete immediately. If this value is nil, the default grace period for the specified type will be used. Defaults to a per object value if not specified. zero means delete immediately. (optional)
     * @param bool $orphan_dependents Deprecated: please use the PropagationPolicy, this field will be deprecated in 1.7. Should the dependent objects be orphaned. If true/false, the \&quot;orphan\&quot; finalizer will be added to/removed from the object&#39;s finalizers list. Either this field or PropagationPolicy may be set, but not both. (optional)
     * @param string $propagation_policy Whether and how garbage collection will be performed. Either this field or OrphanDependents may be set, but not both. The default policy is decided by the existing finalizer set in the metadata.finalizers and the resource-specific default policy. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1Status, HTTP status code, HTTP response headers (array of strings)
     */
    public function deleteAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $body, $pretty = null, $grace_period_seconds = null, $orphan_dependents = null, $propagation_policy = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling deleteAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling deleteAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling deleteAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // query params
        if ($grace_period_seconds !== null) {
            $queryParams['gracePeriodSeconds'] = $this->apiClient->getSerializer()->toQueryValue($grace_period_seconds);
        }
        // query params
        if ($orphan_dependents !== null) {
            $queryParams['orphanDependents'] = $this->apiClient->getSerializer()->toQueryValue($orphan_dependents);
        }
        // query params
        if ($propagation_policy !== null) {
            $queryParams['propagationPolicy'] = $this->apiClient->getSerializer()->toQueryValue($propagation_policy);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1Status',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1Status', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1Status', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation getAppsOpenshiftIoV1APIResources
     *
     * 
     *
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1APIResourceList
     */
    public function getAppsOpenshiftIoV1APIResources()
    {
        list($response) = $this->getAppsOpenshiftIoV1APIResourcesWithHttpInfo();
        return $response;
    }

    /**
     * Operation getAppsOpenshiftIoV1APIResourcesWithHttpInfo
     *
     * 
     *
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1APIResourceList, HTTP status code, HTTP response headers (array of strings)
     */
    public function getAppsOpenshiftIoV1APIResourcesWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1APIResourceList',
                '/apis/apps.openshift.io/v1/'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1APIResourceList', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1APIResourceList', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation listAppsOpenshiftIoV1DeploymentConfigForAllNamespaces
     *
     * 
     *
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param string $field_selector A selector to restrict the list of returned objects by their fields. Defaults to everything. (optional)
     * @param string $label_selector A selector to restrict the list of returned objects by their labels. Defaults to everything. (optional)
     * @param string $resource_version When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv. (optional)
     * @param int $timeout_seconds Timeout for the list/watch call. (optional)
     * @param bool $watch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList
     */
    public function listAppsOpenshiftIoV1DeploymentConfigForAllNamespaces($pretty = null, $field_selector = null, $label_selector = null, $resource_version = null, $timeout_seconds = null, $watch = null)
    {
        list($response) = $this->listAppsOpenshiftIoV1DeploymentConfigForAllNamespacesWithHttpInfo($pretty, $field_selector, $label_selector, $resource_version, $timeout_seconds, $watch);
        return $response;
    }

    /**
     * Operation listAppsOpenshiftIoV1DeploymentConfigForAllNamespacesWithHttpInfo
     *
     * 
     *
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param string $field_selector A selector to restrict the list of returned objects by their fields. Defaults to everything. (optional)
     * @param string $label_selector A selector to restrict the list of returned objects by their labels. Defaults to everything. (optional)
     * @param string $resource_version When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv. (optional)
     * @param int $timeout_seconds Timeout for the list/watch call. (optional)
     * @param bool $watch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList, HTTP status code, HTTP response headers (array of strings)
     */
    public function listAppsOpenshiftIoV1DeploymentConfigForAllNamespacesWithHttpInfo($pretty = null, $field_selector = null, $label_selector = null, $resource_version = null, $timeout_seconds = null, $watch = null)
    {
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/deploymentconfigs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf', 'application/json;stream=watch', 'application/vnd.kubernetes.protobuf;stream=watch']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // query params
        if ($field_selector !== null) {
            $queryParams['fieldSelector'] = $this->apiClient->getSerializer()->toQueryValue($field_selector);
        }
        // query params
        if ($label_selector !== null) {
            $queryParams['labelSelector'] = $this->apiClient->getSerializer()->toQueryValue($label_selector);
        }
        // query params
        if ($resource_version !== null) {
            $queryParams['resourceVersion'] = $this->apiClient->getSerializer()->toQueryValue($resource_version);
        }
        // query params
        if ($timeout_seconds !== null) {
            $queryParams['timeoutSeconds'] = $this->apiClient->getSerializer()->toQueryValue($timeout_seconds);
        }
        // query params
        if ($watch !== null) {
            $queryParams['watch'] = $this->apiClient->getSerializer()->toQueryValue($watch);
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList',
                '/apis/apps.openshift.io/v1/deploymentconfigs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation listAppsOpenshiftIoV1NamespacedDeploymentConfig
     *
     * 
     *
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param string $field_selector A selector to restrict the list of returned objects by their fields. Defaults to everything. (optional)
     * @param string $label_selector A selector to restrict the list of returned objects by their labels. Defaults to everything. (optional)
     * @param string $resource_version When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv. (optional)
     * @param int $timeout_seconds Timeout for the list/watch call. (optional)
     * @param bool $watch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList
     */
    public function listAppsOpenshiftIoV1NamespacedDeploymentConfig($namespace, $pretty = null, $field_selector = null, $label_selector = null, $resource_version = null, $timeout_seconds = null, $watch = null)
    {
        list($response) = $this->listAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($namespace, $pretty, $field_selector, $label_selector, $resource_version, $timeout_seconds, $watch);
        return $response;
    }

    /**
     * Operation listAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param string $field_selector A selector to restrict the list of returned objects by their fields. Defaults to everything. (optional)
     * @param string $label_selector A selector to restrict the list of returned objects by their labels. Defaults to everything. (optional)
     * @param string $resource_version When specified with a watch call, shows changes that occur after that particular version of a resource. Defaults to changes from the beginning of history. When specified for list: - if unset, then the result is returned from remote storage based on quorum-read flag; - if it&#39;s 0, then we simply return what we currently have in cache, no guarantee; - if set to non zero, then the result is at least as fresh as given rv. (optional)
     * @param int $timeout_seconds Timeout for the list/watch call. (optional)
     * @param bool $watch Watch for changes to the described resources and return them as a stream of add, update, and remove notifications. Specify resourceVersion. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList, HTTP status code, HTTP response headers (array of strings)
     */
    public function listAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($namespace, $pretty = null, $field_selector = null, $label_selector = null, $resource_version = null, $timeout_seconds = null, $watch = null)
    {
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling listAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf', 'application/json;stream=watch', 'application/vnd.kubernetes.protobuf;stream=watch']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // query params
        if ($field_selector !== null) {
            $queryParams['fieldSelector'] = $this->apiClient->getSerializer()->toQueryValue($field_selector);
        }
        // query params
        if ($label_selector !== null) {
            $queryParams['labelSelector'] = $this->apiClient->getSerializer()->toQueryValue($label_selector);
        }
        // query params
        if ($resource_version !== null) {
            $queryParams['resourceVersion'] = $this->apiClient->getSerializer()->toQueryValue($resource_version);
        }
        // query params
        if ($timeout_seconds !== null) {
            $queryParams['timeoutSeconds'] = $this->apiClient->getSerializer()->toQueryValue($timeout_seconds);
        }
        // query params
        if ($watch !== null) {
            $queryParams['watch'] = $this->apiClient->getSerializer()->toQueryValue($watch);
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfigList', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation patchAppsOpenshiftIoV1NamespacedDeploymentConfig
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1Patch $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function patchAppsOpenshiftIoV1NamespacedDeploymentConfig($name, $namespace, $body, $pretty = null)
    {
        list($response) = $this->patchAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation patchAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1Patch $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function patchAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $body, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling patchAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling patchAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling patchAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json-patch+json', 'application/merge-patch+json', 'application/strategic-merge-patch+json']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatus
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1Patch $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatus($name, $namespace, $body, $pretty = null)
    {
        list($response) = $this->patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatusWithHttpInfo($name, $namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatusWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1Patch $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatusWithHttpInfo($name, $namespace, $body, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatus');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatus');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling patchAppsOpenshiftIoV1NamespacedDeploymentConfigStatus');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/status";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json-patch+json', 'application/merge-patch+json', 'application/strategic-merge-patch+json']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/status'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation patchAppsOpenshiftIoV1NamespacedScaleScale
     *
     * 
     *
     * @param string $name name of the Scale (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1Patch $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1beta1Scale
     */
    public function patchAppsOpenshiftIoV1NamespacedScaleScale($name, $namespace, $body, $pretty = null)
    {
        list($response) = $this->patchAppsOpenshiftIoV1NamespacedScaleScaleWithHttpInfo($name, $namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation patchAppsOpenshiftIoV1NamespacedScaleScaleWithHttpInfo
     *
     * 
     *
     * @param string $name name of the Scale (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1Patch $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1beta1Scale, HTTP status code, HTTP response headers (array of strings)
     */
    public function patchAppsOpenshiftIoV1NamespacedScaleScaleWithHttpInfo($name, $namespace, $body, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling patchAppsOpenshiftIoV1NamespacedScaleScale');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling patchAppsOpenshiftIoV1NamespacedScaleScale');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling patchAppsOpenshiftIoV1NamespacedScaleScale');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/scale";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json-patch+json', 'application/merge-patch+json', 'application/strategic-merge-patch+json']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1beta1Scale',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/scale'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1beta1Scale', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1beta1Scale', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedDeploymentConfig
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param bool $exact Should the export be exact.  Exact export maintains cluster-specific fields like &#39;Namespace&#39;. (optional)
     * @param bool $export Should this value be exported.  Export strips fields that a user can not specify. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function readAppsOpenshiftIoV1NamespacedDeploymentConfig($name, $namespace, $pretty = null, $exact = null, $export = null)
    {
        list($response) = $this->readAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $pretty, $exact, $export);
        return $response;
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param bool $exact Should the export be exact.  Exact export maintains cluster-specific fields like &#39;Namespace&#39;. (optional)
     * @param bool $export Should this value be exported.  Export strips fields that a user can not specify. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function readAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $pretty = null, $exact = null, $export = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling readAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling readAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // query params
        if ($exact !== null) {
            $queryParams['exact'] = $this->apiClient->getSerializer()->toQueryValue($exact);
        }
        // query params
        if ($export !== null) {
            $queryParams['export'] = $this->apiClient->getSerializer()->toQueryValue($export);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedDeploymentConfigStatus
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function readAppsOpenshiftIoV1NamespacedDeploymentConfigStatus($name, $namespace, $pretty = null)
    {
        list($response) = $this->readAppsOpenshiftIoV1NamespacedDeploymentConfigStatusWithHttpInfo($name, $namespace, $pretty);
        return $response;
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedDeploymentConfigStatusWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function readAppsOpenshiftIoV1NamespacedDeploymentConfigStatusWithHttpInfo($name, $namespace, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling readAppsOpenshiftIoV1NamespacedDeploymentConfigStatus');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling readAppsOpenshiftIoV1NamespacedDeploymentConfigStatus');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/status";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/status'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedDeploymentLogLog
     *
     * 
     *
     * @param string $name name of the DeploymentLog (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $container The container for which to stream logs. Defaults to only container if there is one container in the pod. (optional)
     * @param bool $follow Follow if true indicates that the build log should be streamed until the build terminates. (optional)
     * @param int $limit_bytes If set, the number of bytes to read from the server before terminating the log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit. (optional)
     * @param bool $nowait NoWait if true causes the call to return immediately even if the deployment is not available yet. Otherwise the server will wait until the deployment has started. (optional)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param bool $previous Return previous deployment logs. Defaults to false. (optional)
     * @param int $since_seconds A relative time in seconds before the current time from which to show logs. If this value precedes the time a pod was started, only logs since the pod start will be returned. If this value is in the future, no logs will be returned. Only one of sinceSeconds or sinceTime may be specified. (optional)
     * @param int $tail_lines If set, the number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or sinceSeconds or sinceTime (optional)
     * @param bool $timestamps If true, add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. Defaults to false. (optional)
     * @param int $version Version of the deployment for which to view logs. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentLog
     */
    public function readAppsOpenshiftIoV1NamespacedDeploymentLogLog($name, $namespace, $container = null, $follow = null, $limit_bytes = null, $nowait = null, $pretty = null, $previous = null, $since_seconds = null, $tail_lines = null, $timestamps = null, $version = null)
    {
        list($response) = $this->readAppsOpenshiftIoV1NamespacedDeploymentLogLogWithHttpInfo($name, $namespace, $container, $follow, $limit_bytes, $nowait, $pretty, $previous, $since_seconds, $tail_lines, $timestamps, $version);
        return $response;
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedDeploymentLogLogWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentLog (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $container The container for which to stream logs. Defaults to only container if there is one container in the pod. (optional)
     * @param bool $follow Follow if true indicates that the build log should be streamed until the build terminates. (optional)
     * @param int $limit_bytes If set, the number of bytes to read from the server before terminating the log output. This may not display a complete final line of logging, and may return slightly more or slightly less than the specified limit. (optional)
     * @param bool $nowait NoWait if true causes the call to return immediately even if the deployment is not available yet. Otherwise the server will wait until the deployment has started. (optional)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @param bool $previous Return previous deployment logs. Defaults to false. (optional)
     * @param int $since_seconds A relative time in seconds before the current time from which to show logs. If this value precedes the time a pod was started, only logs since the pod start will be returned. If this value is in the future, no logs will be returned. Only one of sinceSeconds or sinceTime may be specified. (optional)
     * @param int $tail_lines If set, the number of lines from the end of the logs to show. If not specified, logs are shown from the creation of the container or sinceSeconds or sinceTime (optional)
     * @param bool $timestamps If true, add an RFC3339 or RFC3339Nano timestamp at the beginning of every line of log output. Defaults to false. (optional)
     * @param int $version Version of the deployment for which to view logs. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentLog, HTTP status code, HTTP response headers (array of strings)
     */
    public function readAppsOpenshiftIoV1NamespacedDeploymentLogLogWithHttpInfo($name, $namespace, $container = null, $follow = null, $limit_bytes = null, $nowait = null, $pretty = null, $previous = null, $since_seconds = null, $tail_lines = null, $timestamps = null, $version = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling readAppsOpenshiftIoV1NamespacedDeploymentLogLog');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling readAppsOpenshiftIoV1NamespacedDeploymentLogLog');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/log";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($container !== null) {
            $queryParams['container'] = $this->apiClient->getSerializer()->toQueryValue($container);
        }
        // query params
        if ($follow !== null) {
            $queryParams['follow'] = $this->apiClient->getSerializer()->toQueryValue($follow);
        }
        // query params
        if ($limit_bytes !== null) {
            $queryParams['limitBytes'] = $this->apiClient->getSerializer()->toQueryValue($limit_bytes);
        }
        // query params
        if ($nowait !== null) {
            $queryParams['nowait'] = $this->apiClient->getSerializer()->toQueryValue($nowait);
        }
        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // query params
        if ($previous !== null) {
            $queryParams['previous'] = $this->apiClient->getSerializer()->toQueryValue($previous);
        }
        // query params
        if ($since_seconds !== null) {
            $queryParams['sinceSeconds'] = $this->apiClient->getSerializer()->toQueryValue($since_seconds);
        }
        // query params
        if ($tail_lines !== null) {
            $queryParams['tailLines'] = $this->apiClient->getSerializer()->toQueryValue($tail_lines);
        }
        // query params
        if ($timestamps !== null) {
            $queryParams['timestamps'] = $this->apiClient->getSerializer()->toQueryValue($timestamps);
        }
        // query params
        if ($version !== null) {
            $queryParams['version'] = $this->apiClient->getSerializer()->toQueryValue($version);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentLog',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/log'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentLog', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1DeploymentLog', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedScaleScale
     *
     * 
     *
     * @param string $name name of the Scale (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1beta1Scale
     */
    public function readAppsOpenshiftIoV1NamespacedScaleScale($name, $namespace, $pretty = null)
    {
        list($response) = $this->readAppsOpenshiftIoV1NamespacedScaleScaleWithHttpInfo($name, $namespace, $pretty);
        return $response;
    }

    /**
     * Operation readAppsOpenshiftIoV1NamespacedScaleScaleWithHttpInfo
     *
     * 
     *
     * @param string $name name of the Scale (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1beta1Scale, HTTP status code, HTTP response headers (array of strings)
     */
    public function readAppsOpenshiftIoV1NamespacedScaleScaleWithHttpInfo($name, $namespace, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling readAppsOpenshiftIoV1NamespacedScaleScale');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling readAppsOpenshiftIoV1NamespacedScaleScale');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/scale";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\UniversityOfAdelaide\OpenShift\Model\V1beta1Scale',
                '/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}/scale'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\UniversityOfAdelaide\OpenShift\Model\V1beta1Scale', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\UniversityOfAdelaide\OpenShift\Model\V1beta1Scale', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation replaceAppsOpenshiftIoV1NamespacedDeploymentConfig
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig
     */
    public function replaceAppsOpenshiftIoV1NamespacedDeploymentConfig($name, $namespace, $body, $pretty = null)
    {
        list($response) = $this->replaceAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $body, $pretty);
        return $response;
    }

    /**
     * Operation replaceAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo
     *
     * 
     *
     * @param string $name name of the DeploymentConfig (required)
     * @param string $namespace object name and auth scope, such as for teams and projects (required)
     * @param \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig $body  (required)
     * @param string $pretty If &#39;true&#39;, then the output is pretty printed. (optional)
     * @throws \UniversityOfAdelaide\OpenShift\ApiException on non-2xx response
     * @return array of \UniversityOfAdelaide\OpenShift\Model\V1DeploymentConfig, HTTP status code, HTTP response headers (array of strings)
     */
    public function replaceAppsOpenshiftIoV1NamespacedDeploymentConfigWithHttpInfo($name, $namespace, $body, $pretty = null)
    {
        // verify the required parameter 'name' is set
        if ($name === null) {
            throw new \InvalidArgumentException('Missing the required parameter $name when calling replaceAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'namespace' is set
        if ($namespace === null) {
            throw new \InvalidArgumentException('Missing the required parameter $namespace when calling replaceAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // verify the required parameter 'body' is set
        if ($body === null) {
            throw new \InvalidArgumentException('Missing the required parameter $body when calling replaceAppsOpenshiftIoV1NamespacedDeploymentConfig');
        }
        // parse inputs
        $resourcePath = "/apis/apps.openshift.io/v1/namespaces/{namespace}/deploymentconfigs/{name}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json', 'application/yaml', 'application/vnd.kubernetes.protobuf']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['*/*']);

        // query params
        if ($pretty !== null) {
            $queryParams['pretty'] = $this->apiClient->getSerializer()->toQueryValue($pretty);
        }
        // path params
        if ($name !== null) {
            $resourcePath = str_replace(
                "{" . "name" . "}",
                $this->apiClient->getSerializer()->toPathValue($name),
                $resourcePath
            );
        }
        // path params
        if ($namespace !== null) {
            $resourcePath = str_replace(
                "{" . "namespace" . "}",
                $this->apiClient->getSerializer()->toPathValue($namespace),
                $resourcePath
            );
        }
        // body params
        $_tempBody = null;
        if (isset($body)) {
            $_tempBody = $body;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
[...]
